# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Model files and data
*.pkl
*.bin
*.h5
*.model

# Environment variables
.env

# Logs
*.log

# System Files
.DS_Store
Thumbs.db
